<div class="min-h-screen flex items-center justify-center">
    <mat-card class="w-full max-w-sm p-6 shadow-xl rounded-lg ">
        <!-- Header -->
        <div class="text-center mb-6">
            <h2 class="text-2xl font-bold text-green-600">Forgot your Password??</h2>
            <p class="text-sm">Recover your account with simple OTP</p>
        </div>

        <!-- Login Form -->
        <form [formGroup]="loginForm">
            <!-- Email Input -->

            <div class="" *ngIf="!otp">
                <mat-form-field appearance="fill" class="w-full mb-4">
                    <mat-label class="">Email</mat-label>
                    <input matInput formControlName="email" class="" type="email" placeholder="Enter your email"
                        required />
                    <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
                        Email is required.
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">
                        Invalid email address.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="w-full mb-4">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="passwordHash" type="password" placeholder="Enter your new password"
                        required />
                    <!-- Error messages -->
                    <mat-error *ngIf="loginForm.get('passwordHash')?.hasError('required')">
                        Password is required.
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('passwordHash')?.hasError('required') && loginForm.get('passwordHash')?.hasError('minlength')">
                        Password must be at least 6 characters long.
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('passwordHash')?.hasError('required') && !loginForm.get('passwordHash')?.hasError('minlength') && loginForm.get('passwordHash')?.hasError('invalidPassword')">
                        Password must contain at least 1 uppercase, 1 lowercase, 1 digit, and 1 special
                        character.
                    </mat-error>
                </mat-form-field>


                <button mat-raised-button color="primary" class="w-full py-2 text-lg" (click)="sendOtp()">
                    Send OTP
                </button>
            </div>
        </form>

        <div class="" *ngIf="otp">
            <span class="text-green-500">OTP has been sent to your mail</span>
            <mat-form-field appearance="fill" class="w-full mt-4 mb-4">
                <mat-label class="">OTP</mat-label>
                <input matInput [(ngModel)]="otpS" class="" type="text" placeholder="Enter 6 digit OTP" required />
                <mat-error *ngIf="otpS.length == 0">
                    OTP is required.
                </mat-error>
                <mat-error *ngIf="otpS.length != 6">
                    OTP must be 6 digits.
                </mat-error>
            </mat-form-field>


            <!-- Register Button -->
            <button mat-flat-button color="accent" class="w-full py-2 text-lg" (click)="resetPass()">
                Recover Your Account
            </button>
        </div>
    </mat-card>

</div>