<div class="flex flex-col items-center mt-5">
    <h1>Explore Books In Our Library</h1>
    <form [formGroup]="filterForm" class="flex flex-wrap p-5 w-full justify-center items-center">
        <span>
            <mat-form-field class="w-full md:w-32">
                <mat-label>Filter</mat-label>
                <mat-select formControlName="category">
                    <mat-option value="category">Category</mat-option>
                    <mat-option value="1">Fiction</mat-option>
                    <mat-option value="2">Non-Fiction</mat-option>
                    <mat-option value="3">Science</mat-option>
                    <mat-option value="4">History</mat-option>
                    <mat-option value="5">Technology</mat-option>
                    <mat-option value="6">Children</mat-option>
                </mat-select>
            </mat-form-field>
        </span>
        <div class="flex w-full md:w-96">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Search for a book</mat-label>
                <input matInput #input type="text" formControlName="search" placeholder="Enter your book here...">
            </mat-form-field>
            <button mat-icon-button type="button" (click)="callFilter()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </form>
</div>


<div class="flex justify-center items-center" [class.hidden]="!isLoading">
    <mat-spinner></mat-spinner>
</div>

<div class="" *ngIf="dataSource.data.length == 0">
    <h1 class="text-center">No Books Found</h1>
</div>
<div class="w-full md:w-3/4 m-auto" [class.hidden]="!dataSource.data || dataSource.data.length === 0">
    <div class="overflow-auto">
        <table mat-table [dataSource]="dataSource.data.length > 0 ? dataSource : []" matSort class="overflow-auto">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td mat-cell *matCellDef="let book"> {{ book.title }} </td>
            </ng-container>

            <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
                <td mat-cell *matCellDef="let book"> {{ book.author }} </td>
            </ng-container>

            <ng-container matColumnDef="genre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre </th>
                <td mat-cell *matCellDef="let book"> {{ book.genre }} </td>
            </ng-container>

            <ng-container matColumnDef="availableCopies">
                <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header> Available Copies </th>
                <td mat-cell *matCellDef="let book"> {{ book.availableCopies }} </td>
            </ng-container>

            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef> Options </th>
                <td mat-cell *matCellDef="let book">
                    <button *ngIf="!librarian" mat-flat-button class="!bg-green-500 m-2 !text-white"
                        (click)="openDialog('500ms', '500ms', book)">View Book</button>
                    <button *ngIf="librarian" mat-flat-button class="!bg-green-500 m-2 !text-white"
                        (click)="openDialog('500ms', '500ms', book)">Edit Book</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [length]="dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

</div>