/* snackbar.component.scss */
.success-color {
    background-color: green !important;
    color: white !important;
  }
  
  .error-color {
    background-color: red !important;
    color: white !important;
  }
  
  .info-color {
    background-color: blue !important;  
    color: white !important;
  }
  
  .default-color {
    background-color: gray !important;
    color: white !important;
  }
  